$color-primary:#9860A9;
$color-primary-light:#b588b8;
$color-primary-dark:#703891;

$color-grey:#777;
$color-black:#000;
$color-white:#fff;
$color-grey-light-1:#e7e7e7;
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-tert-light:#2998ff;
$color-tert-dark:#5643fa;

$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;